.project
.pydevproject
.idea
.vscode
atest/results
atest/zip_results
utest/output_dir
*.pyc
*.orig
*py.class
MANIFEST
*.egg-info
*.egg
*driver.log
.pytest_cache

dist
build
.pabotsuitenames
.mypy_cache
stub_files
venv/
