language: python
sudo: required
dist: trusty
env:
  global:
    - JYTHON=false
addons:
  firefox: latest
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
before_install:
  - CDVERSION=`curl http://chromedriver.storage.googleapis.com/LATEST_RELEASE`
  - wget --no-verbose http://chromedriver.storage.googleapis.com/$CDVERSION/chromedriver_linux64.zip
  - unzip chromedriver_linux64.zip
  - sudo chmod u+x chromedriver
  - sudo mv chromedriver /usr/bin/
  # Firefox latest
  # - FDVERSION=`curl -s -L https://github.com/mozilla/geckodriver/releases/latest | grep -E href=\"\(.*\)geckodriver-v\(.*\)-linux64.tar.gz\"`
  # - VFILE=`echo $FDVERSION | sed -E "s/^.*<a href=\"/https:\/\/github.com/" -- | sed -E "s/\" rel=\"nofollow\">//" --`
  # - wget --no-verbose $VFILE
  # - tar xzf geckodriver*-linux64.tar.gz
  # - sudo chmod u+x geckodriver
  # - sudo mv geckodriver /usr/bin/
matrix:
  include:
    - python: "3.6"
      env:
        - BROWSER=headlesschrome
        - SELENIUM=3.11.0
        - ROBOTFRAMEWORK=3.0.2
        - ROBOT_OPTIONS=--dotted
        - INTERPRETER=python3
    - python: "pypy3.5"
      env:
        - BROWSER=chrome
        - SELENIUM=3.11.0
        - ROBOTFRAMEWORK=3.0.2
        - ROBOT_OPTIONS=--dotted
        - INTERPRETER=pypy3
    - python: "2.7"
      env:
        - BROWSER=chrome
        - SELENIUM=2.53.6
        - ROBOTFRAMEWORK=2.9.2
        - ROBOT_OPTIONS=--dotted
        - INTERPRETER=python2
    - python: "2.7"
      env:
        - BROWSER=chrome
        - SELENIUM=3.11.0
        - ROBOTFRAMEWORK=2.8.7
        - ROBOT_OPTIONS=
        - INTERPRETER=python2
    - python: "3.3"
      env:
        - BROWSER=chrome
        - SELENIUM=2.53.6
        - ROBOTFRAMEWORK=3.0.2
        - ROBOT_OPTIONS=--dotted
        - INTERPRETER=python3
    - python: "3.6"
      env:
        - BROWSER=headlesschrome
        - SELENIUM=3.11.0
        - ROBOTFRAMEWORK=3.0.2
        - ROBOT_OPTIONS=--dotted
        - INTERPRETER=python3
        - JYTHON=true
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - if [ "$JYTHON" == "true" ]; then
      hg clone http://hg.python.org/jython;
      cd jython;
      ant;
      cd ..;
      chmod +x "$(pwd)/jython/dist/bin/jython";
      export INTERPRETER="$(pwd)/jython/dist/bin/jython";
      alias jython="$(pwd)/jython/dist/bin/jython";
      export PATH="$(pwd)/jython/dist/bin:$PATH";
      wget --no-verbose https://bootstrap.pypa.io/3.2/get-pip.py;
      $INTERPRETER get-pip.py;
    fi
  - python -m pip install robotstatuschecker
  - echo $INTERPRETER
  - $INTERPRETER --version
  - $INTERPRETER -m pip install .
  - $INTERPRETER -m pip install -r requirements-dev.txt
  - $INTERPRETER -m pip install selenium==$SELENIUM
  - $INTERPRETER -m pip install robotframework==$ROBOTFRAMEWORK
script:
  - python atest/run.py $BROWSER --interpreter $INTERPRETER $ROBOT_OPTIONS
