language: python
python:
  - "2.6"
  - "2.7"
install:
  - pip install pep8 --use-mirrors
before_script:
  - "pep8 --exclude=migrations --ignore=E501,E225 src"
  - pyflakes -x W src
script:
  - python src/test/run_tests.py python FF