include MANIFEST.in
include *.txt
include *.rst
exclude */*.txt # limit previous command to include only *.txt files in root folder
exclude */*.rst # limit previous command to include only *.rst files in root folder

include docs/SeleniumLibrary.html

recursive-include src *.py
graft src/SeleniumLibrary/resources
recursive-exclude src *.pyc
