# Requirements needed for SeleniumLibrary development but not by end users.
# Creating releases has its own requirements listed in requirements-build.txt.

mockito >= 1.0.0
robotstatuschecker
approvaltests >= 0.2.4

# Include normal dependencies from requirements.txt. Makes it possible to use
# requirements-dev.txt as a single requirement file in PyCharm and other IDEs.
-r requirements.txt
