# Requirements needed when generating releases. See BUILD.rst for details.
invoke >= 0.20
rellu >= 0.6
twine
wheel
docutils >= 0.14
pygments

# Include other dev dependencies from requirements-dev.txt which in turn
# includes normal dependencies from requirements.txt.
-r requirements-dev.txt
